<h2>
  {{this.memoryObject.type.name}}
</h2>
<h3>
  <span class="class-name">{{this.memoryObject.type.name}}</span>
</h3>
<h4>0x{{this.memoryObject.offset.toString(16)}}</h4>
<mat-action-list>
  <ng-container *ngFor="let child of memoryObject.type.members">
    <!-- TODO: handle pimitives -->
    <!-- TODO: handle pointers -->
    <!-- TODO: handle arrays -->
    <button mat-list-item (click)="goToChild(child)">
      <h2 matLine>{{child.name}} <span class="class-name">{{child.type}}</span></h2>
      <p matLine class="mat-caption">
        <span class="offset">0x{{(memoryObject.offset + child.offset).toString(16)}}</span>
      </p>
    </button>
    <ng-container [ngSwitch]="child.name">
      <mat-list-item *ngSwitchCase="'Int32'">
        value goes here lol
<!--        {{child.value}}-->
      </mat-list-item>
    </ng-container>
  </ng-container>
</mat-action-list>
