<h3>
  <span class="class-name">{{this.memoryObject.obj.name}}</span>
  <br/>
  <span class="class-name">0x{{this.memoryObject.offset.toString(16)}}</span>
</h3>

<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <cdk-tree-node *cdkTreeNodeDef="let node" matTreeNodePadding>
    UNKNOWN!!!
  </cdk-tree-node>
  <cdk-tree-node *cdkTreeNodeDef="let node; when: isPrimitive" [style.margin-left]="node.level * 10 + 'px'">
    {{node.member.name}} - {{readPrimitive(node.parent, node.member, node.memberType)}}
  </cdk-tree-node>
  <cdk-tree-node *cdkTreeNodeDef="let node; when: isEnum" [style.margin-left]="node.level * 10 + 'px'">
    {{node.member.name}} - {{readEnum(node.parent, node.member, node.memberType)}}
  </cdk-tree-node>
  <cdk-tree-node class="clickable" *cdkTreeNodeDef="let node; when: isStruct" [style.margin-left]="node.level * 10 + 'px'" matTreeNodeToggle>
    <button class="expand-button" [attr.aria-label]="'toggle ' + node.filename">
      {{treeControl.isExpanded(node) ? '-' : '+'}}
      <!--      <mat-icon class="mat-icon-rtl-mirror">-->
      <!--        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}-->
      <!--      </mat-icon>-->
    </button>
    {{node.member.name}}
  </cdk-tree-node>
</cdk-tree>
