html
{
  margin: 0px;
  padding: 0px;
}

body
{
  padding: 0px;
  margin: 0px;
  background: #1a1a1a;
  z-index: -1;
}

/*Top Bar*/
#topGap_div
{
  -webkit-user-select: none;
  padding: 0px;
  margin: 0px;
  background-color: #262626;
  z-index: 2;
  height: 4px;
}

#title_span
{
  -webkit-user-select: none;
  font-family: "Arial", Arial, sans-serif;
  -webkit-app-region: drag;
  padding: none;
  margin: 0px;
  position: absolute;
  top: 8px;
  left: 12px;
  color: #aaaaaa;
  z-index: 1;
}

#topBar_div
{
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: relative;
  height: 32px;
  background-color: #1a1a1a;
  padding: none;
  margin: 0px;
  z-index: 1;
}

#min_button
{
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  border-radius: 6px;
  outline: 0;
  position: absolute;
  width: 32px;
  height: 24px;
  top: 4px;
  right: 34px;
  background-color: #262626;
  color: #7382a4;
  border: none;
  z-index: 2;
}

#min_button:hover
{
  cursor: pointer;
  background-color: #404040;
  color: #d9d9d9;
}

#close_button
{
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  border-radius: 6px;
  outline: 0;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 4px;
  right: 6px;
  background-color: #262626;
  color: #7382a4;
  border: none;
  z-index: 2;
}

#close_button:hover
{
  cursor: pointer;
  background-color: #404040;
  color: #d9d9d9;
}

#refresh_button
{
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  border-radius: 6px;
  outline: 0;
  position: absolute;
  width: 28px;
  height: 24px;
  top: 4px;
  right: 72px;
  background-color: #262626;
  color: #7382a4;
  border: none;
  z-index: 2;
}

#refresh_button:hover
{
  cursor: pointer;
  background-color: #404040;
  color: #d9d9d9;
}
/**/

/*Game Select*/
#gameSelect_div
{
  -webkit-user-select: none;
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 36px;
}

/**/

/*Prime 1 Game Select*/
#primeISO_span
{
  position: absolute;
  left: 31%;
  top: 45%;
  font-size: 10pt;
  color: #a0a0a0;
  z-index: 3;
}

#primeISO_div
{
  position: absolute;
  border: none;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 50px;
  background-color: #171715;
  border-radius: 8px;
  z-index: 2;
}

#primeISO_div:hover
{
  background-color: #252524;
}

#primeArrowHead_div
{
  position: absolute;
  border-right: 4px solid #0a0a0a;
  border-bottom: 4px solid #0a0a0a;
  width: 20px;
  height: 20px;
  top: -4px;
  transform: rotate(-135deg);
  margin-top: 12px;
  left: 28%;
  z-index: 2;
}

#primeArrowBody_div
{
  position: absolute;
  border-left: 4px solid #0a0a0a;
  width: 25px;
  height: 38px;
  bottom: 4px;
  margin-left: 25px;
  margin-top: 3px;
  left: -1.5%;
  z-index: 2;
}

#primeISOFile_input
{
  visibility: hidden;
}

#gameSelectPrime1_div
{
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
  border-radius: 8px;
  background-color: #0e0e0d;
  position: absolute;
  margin: auto;
  height: 180px;
  border: none;
  width: 48%;
  left: 12px;
  top: 12px;
  z-index: 2;
}

#prime1_image
{
  -webkit-user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/**/

/*Prime 2 Game Select*/
#prime2ISO_span
{
  position: absolute;
  left: 31%;
  top: 45%;
  font-size: 10pt;
  color: #a0a0a0;
  z-index: 3;
}

#prime2ISO_div
{
  position: absolute;
  border: none;
  right: 0%;
  top: 0%;
  width: 50px;
  height: 50px;
  background-color: #171715;
  border-radius: 8px;
  z-index: 2;
}

#prime2ISO_div:hover
{
  background-color: #252524;
}

#prime2ArrowHead_div
{
  position: absolute;
  border-right: 4px solid #0a0a0a;
  border-bottom: 4px solid #0a0a0a;
  width: 20px;
  height: 20px;
  top: -4px;
  transform: rotate(-135deg);
  margin-top: 12px;
  left: 28%;
  z-index: 2;
}

#prime2ArrowBody_div
{
  position: absolute;
  border-left: 4px solid #0a0a0a;
  width: 25px;
  height: 38px;
  bottom: 4px;
  margin-left: 25px;
  margin-top: 3px;
  left: -1.5%;
  z-index: 2;
}

#prime2ISOFile_input
{
  visibility: hidden;
}

#gameSelectPrime2_div
{
  -webkit-user-select: none;
  cursor: pointer;
  background-color: #0e0e0d;
  display: block;
  position: absolute;
  height: 180px;
  border: none;
  width: 48%;
  right: 12px;
  top: 12px;
  border-radius: 8px;
  z-index: 2;
}

#prime2_image
{
  -webkit-user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/**/

#gameSelectSeparator_div
{
  -webkit-user-select: none;
  position: absolute;
  background-color: #090909;
  z-index: 2;
  top: 200px;
  left: 6px;
  right: 6px;
  height: 6px;
}

#middleSeparator_div
{
  -webkit-user-select: none;
  position: absolute;
  background-color: #090909;
  z-index: 2;
  left: 50%;
  right: 50%;
  top: 210px;
  bottom: 0%;
  width: 6px;
}

/*Generic Lowere Elements*/
.lowerSub_div
{
  -webkit-user-select: none;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background-color: #151514;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  z-index: 2;
}

.lowerSubHeader_div
{
  -webkit-user-select: none;
  background-color: #1b1b1a;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
  border-radius: 8px 8px 0px 0px;
  z-index: 1;
}

.lowerSubSectionTitle_span
{
  -webkit-user-select: none;
  font-family: "Arial", Arial, sans-serif;
  padding-top: 2px;
  color: #b0b0b0;
  text-align: center;
  z-index: 2;
}

.lowerSubHeaderDivider_div
{
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  height: 4px;
  top: 4px;
  background: #404040;
  border: none;
  z-index: 3;
}

.options_table
{
  -webkit-user-select: none;
  flex-grow: 1;
  margin-top: 4px;
  border-collapse: collapse;
  z-index: 2;
}

.optionsTextCells
{
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-bottom: 1px solid #404040;
  width: 100%;
}

.optionsCheckCells
{
  padding-right: 8px;
  border-bottom: 1px solid #404040;
}

.optionsTextCellsNoBorder
{
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
}

.optionsCheckCellsNoBorder
{
  padding-right: 8px;
}

.tooltip
{
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: #b0b0b0;
  font-family: "Arial", Arial, sans-serif;
}

.tooltip .tooltiptext
{
  -webkit-user-select: none;
  visibility: hidden;
  background-color: #080808;
  color: #a0a0a0;
  font-family: "Arial", Arial, sans-serif;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  width: 310px;
  top: -20px;
  right: 105%;
}

.tooltip:hover .tooltiptext
{
  -webkit-user-select: none;
  visibility: visible;
}

.seed_in
{
  font-family: "Arial", Arial, sans-serif;
  margin-top: 12px;
  font-weight: bold;
  background-color: #303030;
  border: none;
  color: #a0a0a0;
  border-color: #303030;
  width: auto;
  z-index: 2;
}

.seed_in:focus
{
  font-family: "Arial", Arial, sans-serif;
  cursor: text;
  background-color: #3a3a3a;
  color: #050505;
  border: none;
}

.checkboxes
{
  -webkit-user-select: none;
  cursor: pointer;
}
/**/

/*Options Section*/
#right_div
{
  -webkit-user-select: none;
  position: absolute;
  display: block;
  margin: 8px;
  top: 242px;
  right: 6px;
  left: 51%;
  bottom: 48px;
}
/**/

/*Excluded Items*/
#left_div
{
  -webkit-user-select: none;
  position: absolute;
  display: block;
  margin: 8px;
  top: 242px;
  left: 6px;
  right: 50%;
  bottom: 48px;
}
/**/

/*Randomize*/
#randomize_div
{
  -webkit-user-select: none;
  padding: 0px;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  border-radius: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  margin: 0px;
  background: #0d0d0d;
  z-index: -1;
}

#randomize_button
{
  -webkit-user-select: none;
  font-family: "Arial Black", Arial Black, sans-serif;
  border-radius: 4px;
  flex-grow: 1;
  height: 32px;
  padding: 0px;
  bottom: 6px;
  background-color: #262626;
  border: none;
  color: #7382a4;
  font-weight: bold;
  z-index: 2;
}

#randomize_button:hover
{
  cursor: pointer;
  background-color: #404040;
  font-size: 11pt;
  color: #8490ae;
}

#randomize_button:focus
{
  cursor: pointer;
  background-color: #333333;
  color: #8490ae;
  font-weight: bold;
  outline-color: transparent;
  outline: none;
}
/**/

#background_div
{
  -webkit-user-select: none;
  padding: 0px;
  position: absolute;
  border-radius: 6px;
  top: 32px;
  left: 6px;
  right: 6px;
  bottom: 48px;
  margin: 0px;
  background: #0e0e0d;
  z-index: -1;
}
