html
{
  margin: 0px;
  padding: 0px;
}

body
{
  padding: 0px;
  margin: 0px;
  background: #1a1a1a;
  z-index: -1;
}

.mainFormText
{
  -webkit-user-select: none;
  font-family: "Arial", Arial, sans-serif;
  font-size: 12pt;
  color: #7382a4;
  z-index: 2;
}

.innerText
{
  -webkit-user-select: none;
  font-family: "Arial", Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  color: #050505;
}

.image
{
  -webkit-user-select: none;
}

#primeISOFile_input
{
  visibility: hidden;
}

#prime2ISOFile_input
{
  visibility: hidden;
}

#primeISO_span
{
  position: absolute;
  left: 28%;
  top: 45%;
  font-size: 10pt;
  color: #a0a0a0;
  z-index: 3;
}

#primeISO_button
{
  position: absolute;
  border: none;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 50px;
  background-color: #171715;
  border-radius: 8px;
  z-index: 2;
}

#primeISO_button:hover
{
  background-color: #252524;
}

#primeISO_button:active
{
  outline: none;
  border: none;
  border-color: transparent;
}

#primeArrowHead_div
{
  position: absolute;
  border-right: 4px solid #0a0a0a;
  border-bottom: 4px solid #0a0a0a;
  width: 20px;
  height: 20px;
  top: -4px;
  transform: rotate(-135deg);
  margin-top: 12px;
  left: 28%;
  z-index: 2;
}

#primeArrowBody_div
{
  position: absolute;
  border-left: 4px solid #0a0a0a;
  width: 25px;
  height: 38px;
  bottom: 4px;
  margin-left: 25px;
  margin-top: 3px;
  left: -1%;
  z-index: 2;
}


#prime2ISO_span
{
  position: absolute;
  left: 28%;
  top: 45%;
  font-size: 10pt;
  color: #a0a0a0;
  z-index: 3;
}

#prime2ISO_button
{
  position: absolute;
  border: none;
  right: 0%;
  top: 0%;
  width: 50px;
  height: 50px;
  background-color: #171715;
  border-radius: 8px;
  z-index: 2;
}

#prime2ISO_button:hover
{
  background-color: #252524;
}

#prime2ISO_button:active
{
  outline: none;
  border: none;
  border-color: transparent;
}

#prime2ArrowHead_div
{
  position: absolute;
  border-right: 4px solid #0a0a0a;
  border-bottom: 4px solid #0a0a0a;
  width: 20px;
  height: 20px;
  top: -4px;
  transform: rotate(-135deg);
  margin-top: 12px;
  left: 28%;
  z-index: 2;
}

#prime2ArrowBody_div
{
  position: absolute;
  border-left: 4px solid #0a0a0a;
  width: 25px;
  height: 38px;
  bottom: 4px;
  margin-left: 25px;
  margin-top: 3px;
  left: -2%;
  z-index: 2;
}


#prime1_image
{
  position: absolute;
  top: 0%;
  left: 0%;
}

#prime2_image
{
  position: absolute;
  top: 0%;
  right: 0%;
}

#dividerSpacer_div
{
  -webkit-user-select: none;
  position: relative;
  height: 4px;
  top: 12px;
  background-color: #141414;
  z-index: 2;
}

.dividerLine_div
{
  -webkit-user-select: none;
  height: 2px;
  background-color: #202020;
  z-index: 2;
}

#topGap_div
{
  -webkit-user-select: none;
  padding: 0px;
  margin: 0px;
  background-color: #262626;
  z-index: 2;
  height: 4px;
}

#title_span
{
  -webkit-user-select: none;
  font-family: "Arial", Arial, sans-serif;
  -webkit-app-region: drag;
  padding: none;
  margin: 0px;
  position: absolute;
  top: 8px;
  left: 12px;
  color: #aaaaaa;
  z-index: 1;
}

#topBar_div
{
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: relative;
  height: 32px;
  background-color: #1a1a1a;
  padding: none;
  margin: 0px;
  z-index: 1;
}

#min_button
{
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  border-radius: 6px;
  outline: 0;
  position: absolute;
  width: 32px;
  top: 4px;
  right: 34px;
  background-color: #262626;
  color: #7382a4;
  border: none;
  z-index: 2;
}

#min_button:hover
{
  cursor: pointer;
  background-color: #404040;
  color: #d9d9d9;
}

#close_button
{
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  border-radius: 6px;
  outline: 0;
  position: absolute;
  width: 24px;
  top: 4px;
  right: 6px;
  background-color: #262626;
  color: #7382a4;
  border: none;
  z-index: 2;
}

#close_button:hover
{
  cursor: pointer;
  background-color: #404040;
  color: #d9d9d9;
}

#gameSelect_div
{
  -webkit-user-select: none;
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 36px;
}

#gameSelectPrime1_div
{
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #0e0e0d;
  position: absolute;
  height: 180px;
  border: none;
  width: 48%;
  left: 12px;
  top: 12px;
  z-index: 2;
}

#gameSelectPrime2_div
{
  -webkit-user-select: none;
  cursor: pointer;
  background-color: #0e0e0d;
  position: absolute;
  border: none;
  width: 48%;
  right: 12px;
  top: 12px;
  border-radius: 8px;
  z-index: 2;
}

#gameSelectSeparator_div
{
  -webkit-user-select: none;
  position: absolute;
  background-color: #090909;
  z-index: 2;
  top: 200px;
  left: 4px;
  right: 4px;
  height: 6px;
}

#middleSeparator_div
{
  -webkit-user-select: none;
  position: absolute;
  background-color: #090909;
  z-index: 2;
  left: 50%;
  right: 50%;
  top: 210px;
  bottom: 0%;
  width: 6px;
}

#right_div
{
  -webkit-user-select: none;
  position: absolute;
  display: block;
  margin: 8px;
  top: 242px;
  right: 6px;
  left: 51%;
  bottom: 48px;
}

#text_div
{
  -webkit-user-select: none;
  position: absolute;
  left: 8px;
  display: block;
  height: auto;
  width: 200px;
  border: none;
  z-index: 2;
}

#dividers_div
{
  -webkit-user-select: none;
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
  border: none;
  z-index: 2;
}

#checkboxes_div
{
  -webkit-user-select: none;
  position: absolute;
  right: 32px;
  display: block;
  height: auto;
  width: 0px;
  border: none;
  z-index: 2;
}

/*Generic*/
.arrow_box
{
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  height: 4px;
  top: 4px;
  background: #404040;
  border: none;
  z-index: 3;
}

.tooltip
{
  -webkit-user-select: none;
  position: relative;
  display: inline-block;
  color: #b0b0b0;
  font-family: "Arial", Arial, sans-serif;
}

.tooltip .tooltiptext
{
  -webkit-user-select: none;
  visibility: hidden;
  background-color: #080808;
  color: #a0a0a0;
  font-family: "Arial", Arial, sans-serif;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  width: 310px;
  top: -20px;
  right: 105%;
}

.tooltip:hover .tooltiptext
{
  -webkit-user-select: none;
  visibility: visible;
}

/*Prime*/
#primeOptions_div
{
  visibility: visible;
  -webkit-user-select: none;
  flex-grow: 1;
  background-color: #151514;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  z-index: 2;
}

#primeOptionsHeader_div
{
  -webkit-user-select: none;
  background-color: #1b1b1a;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
  border-radius: 8px 8px 0px 0px;
  z-index: 1;
}

#primeOptionsSectionTitle_span
{
  -webkit-user-select: none;
  font-family: "Arial", Arial, sans-serif;
  position: relative;
  color: #b0b0b0;
  top: 2px;
  left: 30%;
  text-align: center;
  z-index: 2;
}

#primeOptionsHeaderDivider_div
{
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  height: 4px;
  top: 4px;
  background: #404040;
  border: none;
  z-index: 3;
}

#primeSeed_in
{
  font-family: "Arial", Arial, sans-serif;
  font-weight: bold;
  position: relative;
  background-color: #303030;
  width: 93%;
  border: none;
  color: #a0a0a0;
  border-color: #303030;
  left: 8px;
  top: 12px;
  z-index: 2;
}

#primeSeed_in:focus
{
  font-family: "Arial", Arial, sans-serif;
  cursor: text;
  background-color: #3a3a3a;
  color: #050505;
  border: none;
}

#primeCheckCompleteability_check
{
  -webkit-user-select: none;
  cursor: pointer;
}

#primeFrigate_check
{
  -webkit-user-select: none;
  cursor: pointer;
}

#primeWarp_check
{
  -webkit-user-select: none;
  cursor: pointer;
}

#primeIls_check
{
  -webkit-user-select: none;
  cursor: pointer;
}

#primePopup_check
{
  -webkit-user-select: none;
  cursor: pointer;
}

#primeMusic_check
{
  -webkit-user-select: none;
  cursor: pointer;
}

/*Prime 2*/
#prime2Options_div
{
  visibility: hidden;
  -webkit-user-select: none;
  position: absolute;
  background-color: #151514;
  bottom: 8px;
  left: 8px;
  right: 8px;
  height: 48%;
  border-radius: 8px;
  z-index: 2;
}

#prime2OptionsHeader_div
{
  visibility: hidden;
  -webkit-user-select: none;
  position: absolute;
  background-color: #1b1b1a;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
  border-radius: 8px 8px 0px 0px;
  z-index: 1;
}

#prime2OptionsSectionTitle_span
{
  visibility: hidden;
  -webkit-user-select: none;
  font-family: "Arial", Arial, sans-serif;
  position: relative;
  color: #b0b0b0;
  left: 30%;
  top: 2px;
  z-index: 2;
}

#prime2OptionsHeaderDivider_div
{
  visibility: hidden;
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  height: 4px;
  top: 4px;
  background: #404040;
  border: none;
  z-index: 3;
}

#prime2Seed_in
{
  visibility: hidden;
  font-family: "Arial", Arial, sans-serif;
  font-weight: bold;
  position: relative;
  background-color: #303030;
  width: 93%;
  border: none;
  color: #a0a0a0;
  border-color: #303030;
  left: 8px;
  top: 12px;
  z-index: 2;
}

#prime2Seed_in:focus
{
  font-family: "Arial", Arial, sans-serif;
  cursor: text;
  background-color: #3a3a3a;
  color: #050505;
  border: none;
}

#prime2Physics_span
{
  visibility: hidden;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Arial", Arial, sans-serif;
  color: #a0a0a0;
  position: relative;
  left: 8px;
  top: 10px;
}

#prime2Physics_check
{
  visibility: hidden;
  -webkit-user-select: none;
  position: relative;
  cursor: pointer;
  left: 50.5%;
  top: 12px;
}

#prime2Warp_span
{
  visibility: hidden;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Arial", Arial, sans-serif;
  color: #a0a0a0;
  position: relative;
  left: 8px;
  top: 10px;
}

#prime2Warp_check
{
  visibility: hidden;
  -webkit-user-select: none;
  position: relative;
  cursor: pointer;
  left: 40.5%;
  top: 12px;
}

#prime2Ils_span
{
  visibility: hidden;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Arial", Arial, sans-serif;
  color: #a0a0a0;
  position: relative;
  left: 8px;
  top: 8px;
}

#prime2Ils_check
{
  visibility: hidden;
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  left: 49.2%;
  top: 12px;
}

#prime2Popup_span
{
  visibility: hidden;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Arial", Arial, sans-serif;
  color: #a0a0a0;
  position: relative;
  left: 8px;
  top: 8px;
}

#prime2Popup_check
{
  visibility: hidden;
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  left: 25%;
  top: 12px;
}

#prime2Music_span
{
  visibility: hidden;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: "Arial", Arial, sans-serif;
  color: #a0a0a0;
  position: relative;
  left: 8px;
  top: 8px;
}

#prime2Music_check
{
  visibility: hidden;
  -webkit-user-select: none;
  cursor: pointer;
  position: relative;
  left: 39%;
  top: 12px;
}

#left_div
{
  -webkit-user-select: none;
  position: absolute;
  top: 242px;
  left: 12px;
  right: 50%
}

#excludedItems_span
{
  -webkit-user-select: none;
  font-family: "Arial", Arial, sans-serif;
  position: absolute;
  color: #a1a1a1;
  z-index: 2;
}

#randomize_div
{
  -webkit-user-select: none;
  padding: 0px;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
  border-radius: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  margin: 0px;
  background: #0d0d0d;
  z-index: -1;
}

#randomize_button
{
  -webkit-user-select: none;
  font-family: "Arial Black", Arial Black, sans-serif;
  border-radius: 4px;
  flex-grow: 1;
  height: 32px;
  padding: 0px;
  bottom: 6px;
  background-color: #262626;
  border: none;
  color: #7382a4;
  font-weight: bold;
  z-index: 2;
}

#randomize_button:hover
{
  cursor: pointer;
  background-color: #404040;
  font-size: 11pt;
  color: #8490ae;
}

#randomize_button:focus
{
  cursor: pointer;
  background-color: #333333;
  color: #8490ae;
  font-weight: bold;
  outline-color: transparent;
  outline: none;
}

#background_div
{
  -webkit-user-select: none;
  padding: 0px;
  position: absolute;
  border-radius: 6px;
  top: 32px;
  left: 6px;
  right: 6px;
  bottom: 48px;
  margin: 0px;
  background: #0e0e0d;
  z-index: -1;
}
