// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material
@include mat-core();

$web-primary: mat-palette($mat-purple);
$web-accent: mat-palette($mat-teal, A200, A100, A400);

$web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$web-theme: mat-light-theme($web-primary, $web-accent, $web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-theme);

/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
